 body{
 	font-size: 12px;
 }
 form{
 	width: 500px;
	margin: 0 auto;
 }
 
 table.mytable{
 	border:1px solid #ccc;
 	font-size:12px;
 	text-family:'ו';
 	border-collapse:collapse;
 	width:800px;
 	margin:0 auto;
	}


	.aligncenter{
		text-align:center;
	}
	.alignright{
		text-align:right;
	}
	

 table.mytable td{
    border: 1px solid #C1DAD7;   
    font-size:11px;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
}
  